@import "tailwindcss";

@font-face {
  font-family: "Sohn";
  src: local("Sohn") url("../fonts/TestSohne-BuchKursiv-BF663d89cd3e887.otf")
    format("opentype");
}

@theme {
  --color-AppYellow: #c0a742;
  --color-AppWhite: #eee;
  --color-AppBlack: #555;
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
.ubuntu-sans-mono-font {
  font-family: "Ubuntu Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
}

body {
  font-family: Sohn, Arial, Helvetica, sans-serif;
}
label {
  @apply capitalize;
}

.container {
  @apply max-w-[90%] lg:max-w-[1200px] mx-auto;
}

a {
  @apply cursor-pointer capitalize;
}
.slideout {
  animation: slide 0.2s 1;
}
.hero-sec {
  background-image: url("/images/ayodelestud.webp");
}
@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.welcomeAnim {
  animation: color cubic-bezier(0.215, 0.610, 0.355, 1) linear infinite;
}

@keyframes color {
  0% {
    background: linear-gradient(to right, #c0a742, black, #c0a742);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to right, #c0a742, white, #c0a742);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to right, black, #c0a742);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.product-card {
  animation: rotatee 20s 1;
}

@keyframes rotatee {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
.aboutCard{
  @apply bg-AppYellow/20 col-span-2 p-6 rounded-3xl
}
.aboutCard2{
   @apply bg-AppBlack/20 col-span-2 p-6 rounded-3xl
}
input,textarea{
  @apply p-3 border-2 border-AppYellow rounded-xl
}