@import "tailwindcss";

@font-face {
  font-family: "Sohn";
  src: local("Sohn") url("../fonts/TestSohne-BuchKursiv-BF663d89cd3e887.otf")
    format("opentype");
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Sohn, Arial, Helvetica, sans-serif;
}

.container {
  @apply max-w-[90%] lg:max-w-[1200px] mx-auto;
}

a {
  @apply cursor-pointer ;
}
.slideout{
  animation:slide 2s 1
}
@keyframes slide {
  from{transform: translateX(100%);}
  to{transform: translateX(0%);}
}